.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
  padding-top: 20px;
}


.carousel{width: 500px;}
.toprow{ width: 100%;
		height: 122px;}
body{ background-image: url('/new_image_icon/.jpg');
family-name："微軟正黑體", "Microsoft JhengHei", "新細明體", "PMingLiU", "細明體", "MingLiU", "標楷體", "DFKai-sb", serif;
font-family: Microsoft JhengHei,arial,helvetica,sans-serif;
}
#ipad{-webkit-overflow-scrolling:touch; overflow:auto;}
.banner{ cursor: pointer;
}
.subtr {text-align:center;}
.topbar {text-align: center;
font-weight: bold;
}

